@import "tailwindcss";

@theme {
  --color-primary: #94cc29;
}

@font-face {
  font-family: 'Lobster Two';
  src: url('/fonts/LobsterTwo/LobsterTwo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lobster Two';
  src: url('/fonts/LobsterTwo/LobsterTwo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: PingFangSC-Regular, HelveticaNeue-Light, Helvetica Neue Light, Microsoft YaHei, "sans-serif";
}

/* AnimatedButton 动画样式 */
.animated-btn-bg {
  transition: transform 0.8s cubic-bezier(0.4,0,0.2,1);
  transform: translateX(-100%) scaleX(0);
  transform-origin: right;
}
.animated-btn-hover .animated-btn-bg {
  transition: transform 0.8s cubic-bezier(0.4,0,0.2,1);
  transform: translateX(0) scaleX(1);
  transform-origin: left;
}

.animated-btn-text {
  color: #94cc29; /* tailwind primary */
  transition: color 0.3s cubic-bezier(0.4,0,0.2,1);
}
.animated-btn-hover .animated-btn-text {
  color: #fff;
}
